/*
* @Author: Marte
* @Date:   2017-07-11 16:17:27
* @Last Modified by:   Marte
* @Last Modified time: 2017-07-12 09:07:39
*/
body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

#status {
    white-space: pre; // ????
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 25rem;/* 400px */
}

input {
    color: black;
    font-size: .9375rem;
}
input:hover, input:focus {
    color: gray;
    font-size: 1.25rem;
}